<div class="c-content">

   <div id="left">
     see the table in action
   </div>
   <div id="right">

     <table>
       <tr>
         <th>teams</th>
       </tr>
        {{#each standing }}
        <tr>
            <td>{{ standing.teamName }}</td>
        </tr>
        {{/each}}
      </table>

     <!--


     <table id=leagueTable style="width:350px; height:800px;">

       <thead>
         <tr>
           <th class="position" width="12%"></th>
           <th class="crestURI" width="12%"></th>
           <th class="teamName" width="37%"></th>
           <th class="playedGames">GP</th>
           <th class="goalDifference">GD</th>
           <th class="points">PTS</th>
         </tr>
       </thead>


         <tr class=one>
           <td class="position">1</td>
           <td class="crestURI"><img src=""></td>
           <td class="teamName"></td>
           <td class="playedGames"></td>
           <td class="goalDifference"></td>
           <td class="points"></td>
         </tr>


         <tr class=two>
           <td class="position">2</td>
           <td class="crestURI"></td>
           <td class="teamName"></td>
           <td class="playedGames"></td>
           <td class="goalDifference"></td>
           <td class="points"></td>
         </tr>



         <tr class=three>
           <td class="position">3</td>
           <td class="crestURI"></td>
           <td class="teamName"></td>
           <td class="playedGames"></td>
           <td class="goalDifference"></td>
           <td class="points"></td>
         </tr>


         <tr class=four>
           <td class="position">4</td>
           <td class="crestURI"></td>
           <td class="teamName"></td>
           <td class="playedGames"></td>
           <td class="goalDifference"></td>
           <td class="points"></td>
         </tr>



         <tr class=five>
           <td class="position">5</td>
           <td class="crestURI"></td>
           <td class="teamName"></td>
           <td class="playedGames"></td>
           <td class="goalDifference"></td>
           <td class="points"></td>
         </tr>


         <tr class=six>
           <td class="position">6</td>
           <td class="crestURI"></td>
           <td class="teamName"></td>
           <td class="playedGames"></td>
           <td class="goalDifference"></td>
           <td class="points"></td>
         </tr>



         <tr class=seven>
           <td class="position">7</td>
           <td class="crestURI"></td>
           <td class="teamName"></td>
           <td class="playedGames"></td>
           <td class="goalDifference"></td>
           <td class="points"></td>
         </tr>



         <tr class=eight>
           <td class="position">8</td>
           <td class="crestURI"></td>
           <td class="teamName"></td>
           <td class="playedGames"></td>
           <td class="goalDifference"></td>
           <td class="points"></td>
         </tr>



         <tr class=nine>
           <td class="position">9</td>
           <td class="crestURI"></td>
           <td class="teamName"></td>
           <td class="playedGames"></td>
           <td class="goalDifference"></td>
           <td class="points"></td>
         </tr>



         <tr class=ten>
           <td class="position">10</td>
           <td class="crestURI"></td>
           <td class="teamName"></td>
           <td class="playedGames"></td>
           <td class="goalDifference"></td>
           <td class="points"></td>
         </tr>



         <tr class=eleven>
           <td class="position">11</td>
           <td class="crestURI"></td>
           <td class="teamName"></td>
           <td class="playedGames"></td>
           <td class="goalDifference"></td>
           <td class="points"></td>
         </tr>



         <tr class=twelve>
           <td class="position">12</td>
           <td class="crestURI"></td>
           <td class="teamName"></td>
           <td class="playedGames"></td>
           <td class="goalDifference"></td>
           <td class="points"></td>
         </tr>



         <tr class=thirteen>
           <td class="position">13</td>
           <td class="crestURI"></td>
           <td class="teamName"></td>
           <td class="playedGames"></td>
           <td class="goalDifference"></td>
           <td class="points"></td>
         </tr>



         <tr class=fourteen>
           <td class="position">14</td>
           <td class="crestURI"></td>
           <td class="teamName"></td>
           <td class="playedGames"></td>
           <td class="goalDifference"></td>
           <td class="points"></td>
         </tr>



         <tr class=fifteen>
           <td class="position">15</td>
           <td class="crestURI"></td>
           <td class="teamName"></td>
           <td class="playedGames"></td>
           <td class="goalDifference"></td>
           <td class="points"></td>
         </tr>



         <tr class=sixteen>
           <td class="position">16</td>
           <td class="crestURI"></td>
           <td class="teamName"></td>
           <td class="playedGames"></td>
           <td class="goalDifference"></td>
           <td class="points"></td>
         </tr>



         <tr class=seventeen>
           <td class="position">17</td>
           <td class="crestURI"></td>
           <td class="teamName"></td>
           <td class="playedGames"></td>
           <td class="goalDifference"></td>
           <td class="points"></td>
         </tr>



         <tr class=eighteen>
           <td class="position">18</td>
           <td class="crestURI"></td>
           <td class="teamName"></td>
           <td class="playedGames"></td>
           <td class="goalDifference"></td>
           <td class="points"></td>
         </tr>



         <tr class=nineteen>
           <td class="position">19</td>
           <td class="crestURI"></td>
           <td class="teamName"></td>
           <td class="playedGames"></td>
           <td class="goalDifference"></td>
           <td class="points"></td>
         </tr>


         <tr class=twenty>
           <td class="position">20</td>
           <td class="crestURI"></td>
           <td class="teamName"></td>
           <td class="playedGames"></td>
           <td class="goalDifference"></td>
           <td class="points"></td>
         </tr>

       </table> -->


   </div>
 </div>
    <!-- {{ standing }}
      <!-{{#each row}}
        <li>
          {{ standing.teamName }}
        <li>
      {{/each }} -->
