<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>epl table.</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="c-header">
      <h1><a href="/">epl table.</a></h1>
      <a href="" class="c-link">weather</a>
    </div>

    {{{ body }}}

    <footer>
      <div class="c-content">
footer copy      </div>
    </footer>
    <script src="/main.js"></script>

  </body>
</html>
